{% extends "base.html" %}

{% block content %}

    <h1><strong> Networking Directory<p><button><a class="add" href="{% url 'add_profiles' %}">Add New Member Profile</a></button>
    </p>

    <button><a class="add" href="{% url 'list_profiles' %}">Networking Directory</a></button>

  <div class="everything">
          
          {% for profile in profiles %}
          <div class="flex">
          
          <h2> "{{ profiles.profile_name }}" </h2>
          
        <p>
          <button class="button2"><a class="profilestuff" href="{% url 'profile_detail' pk=profile.pk %}">Profile Details</a></button>
          
          <button class="button2"><a class="profilesstuff"
           href="{% url 'edit_profiles' pk=profile.pk %}"> Edit Profile </a></button>
          <button class="button2"> <a class="profilesstuff" href="{% url 'delete_profiles' pk=profile.pk %}">Delete Profile</a></button>
          </p></h4>
          
          </div>

          <br>
          {% endfor %}
       

<button class="button2"> <a class="profilesstuff" href="{% url 'delete_profiles' pk=profile.pk %}">Delete Profile</a></button>



  </div>

{% endblock %}
